@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1{
    color: #9AC5F4;
    text-shadow:1px 2px 5px black;
    font-weight: bolder;
    font-size: xx-large;
}

h2{
    color: #99DBF5;
    font-weight: bolder;
    font-size: x-large;
    text-shadow:1px 2px 5px black;
}

h3{
    color: #A7ECEE
}

.children-container{
    position: absolute;
    display: flex;
    margin-left: 20px;
    z-index: 0;
    margin-top: 100px;
    border-radius: 10px;
    width: 100%;
}

.children-container h1{
    color: #9AC5F4;
    text-shadow:1px 2px 5px black;
    font-weight: bolder;
    font-size: xx-large;
}

@media (min-width: 1000px) {
    .children-container{
        width: 83.333333%;
    }
}