@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1{
    color: #9AC5F4;
    text-shadow:1px 2px 5px black;
    font-weight: bolder;
    font-size: xx-large;
}

h2{
    color: #99DBF5;
    font-weight: bolder;
    font-size: x-large;
    text-shadow:1px 2px 5px black;
}

h3{
    color: #A7ECEE
}

.children-container{
    padding-top: 100px;
    position: absolute;
    display: flex;
    z-index: 0;
    border-radius: 10px;
    width: 100%;
}

.children-container h1{
    color: #9AC5F4;
    text-shadow:1px 2px 5px black;
    font-weight: bolder;
    font-size: xx-large;
}

.children-container-collapsed{
    width: 83.333333%;
}

@media (min-width:450px) {
    .children-container-collapsed{
        display: none;
    }   
}