@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.component-container-visible{
  padding: 25px;
  margin-right: -80px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #FFEEBB;
}

.component-container-hidden{
  display: none;
}

.menu-toggler-button {
  position: absolute;
  z-index: 3;
  left: 10px;
  top: 5px;
  background-color: #ffeebb9d;
  padding: 5px;
  border-radius: 50% 50%;
}

.navigation-container-visible{
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.navigation-container-hidden{
  display: none;
}

.collapsed-navigation{
    display: none;
}

.menu-list {
  margin-top: 10px;
  list-style-type: none;
}

.menu-item {
  text-decoration: none;
  background-color: #a7ecee;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.icon {
  display: inline-block;
}

.menu-item:hover {
  text-decoration: none;
  background-color: #9ac5f4;
}

@media (max-width:445px) {
  .component-container-visible{
    width: 100%;
    z-index: 2;
    margin-left: -25px;
    margin-top: -25px;
  }
  
  .menu-toggler {
    z-index: 3;
    left: 80%;
  }

  .navigation-container-visible{
    width: 100%;
    position: absolute;
    background-color: #FFEEBB;
  }
}